<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</header>