<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="home-container">
        <h1>Low level Authentication</h1>
        <p>Using only username and Plain Password</p>
    </div>
</body>
</html>