<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile Page</title>
</head>
<body>
<%- include('./partials/header.ejs') %>
<div class="profile-container">
    <h1>Profile</h1>
    <div>
            <h2>Full Name: <%= user.fullname %></h2>
            <h2>UserName: <%= user.username %></h2>
            <!-- <h2>Password: <%= user.password %></h2> -->
     
    </div>

    <% if (user) { %>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <% } %>
</div>


</body>
</html>
