/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* Login container card */
.login-container {
    width: 100%;
    max-width: 380px;
    background: #fff;
    padding: 40px 35px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    text-align: center;
    margin: 120px auto;
    
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #007bff;
    font-weight: 600;
}

/* Inputs */
.login-container input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

.login-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0,123,255,0.4);
}

/* Button */
.login-container button {
    width: 100%;
    padding: 12px 14px;
    background: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.login-container button:hover {
    background: #0064d3;
    box-shadow: 0 4px 12px rgba(0,123,255,0.3);
}

/* Mobile */
@media (max-width: 500px) {
    .login-container {
        padding: 30px 25px;
    }
}
